

.box_wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  padding:30px;
  box-sizing: border-box;
}

.box{
  width: 300px;
  padding:20px;
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
}

.win{
  border: 2px solid green;
}
.lose{
  border: 2px solid red;
}
.tie{
  border: 2px solid black;
}

.box>h1{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.box>h2{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.box>p{
  height: 132px;
  margin: 0;
  padding: 0;
  font-size: 100px;
}

.weather_wrap{
  position: absolute;
  top:0;
  left: 0;
  z-index: -100;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.weather_wrap > div {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: calc(100% - 100px);
}

.weather_content{
  position: relative;
  width: calc(100%);
}

.weather_content > div{
  position: relative;
  width: calc(100%);
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 20px;
  background-color: rgba(255,255,255,0.7);
  box-sizing: border-box;
}

/* .weather_content:before{
  content: '';
  display: block;
  
  position: absolute;
  top:0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
}; */

